@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

:root {
    --bg-color: #1f242d;
    --bg-faint-color: #1f242d88;
    --second-bg-color: #323946;
    --text-color: #fff;
    --main-color: #0ef;
    --shadow-color: rgba(128, 128, 128, 0.371);



    /* padding */
    --simple-padding: 2rem;
    --medium-padding: 1rem;

    /* font-sizing */
    --simple-font: .8rem;

    /* arrow height */
    --arrow-height: 1.5rem;

    /* iframe props */
    --iframe-height: 10rem;
    --iframe-border-R: .3rem;
    --iframe-border: 2px solid var(--main-color);

    /* footer */
    --small-font: .5rem;
    --small-padding: .5rem;
}

/* ========================================================= media queries ======================================================================= */

@media screen and (max-width: 299px) {
    :root {
        /* padding */
        --simple-padding: 7vw;
        --medium-padding: .7rem;

        /* font-sizing */
        --simple-font: 4vw;

        /* arrow height */
        --arrow-height: 8vw;

        /* iframe props */
        --iframe-height: 55vw;
        --iframe-border: .5vw solid var(--main-color);

        /* footer */
        --small-font: .5rem;
        --small-padding: .5rem;
    }
}

@media screen and (min-width: 400px) {
    :root {
        /* padding */
        --simple-padding: 2.5rem;
        --medium-padding: 1.5rem;

        /* font-sizing */
        --simple-font: 1rem;

        /* arrow height */
        --arrow-height: 1.7rem;

        /* iframe props */
        --iframe-height: 15rem;

        /* footer */
        --small-font: .6rem;
        --small-padding: 1rem;
    }
}

@media screen and (min-width: 650px) {
    :root {
        /* padding */
        --simple-padding: 2.5rem;
        --medium-padding: 1.7rem;

        /* font-sizing */
        --simple-font: 1.2rem;

        /* arrow height */
        --arrow-height: 2rem;

        /* iframe props */
        --iframe-height: 20rem;

        /* footer */
        --small-font: 1rem;
        --small-padding: 1rem;
    }
}


@media screen and (min-width: 900px) {
    :root {
        /* padding */
        --simple-padding: 3rem;
        --medium-padding: 1.9rem;

        /* font-sizing */
        --simple-font: 1.5rem;

        /* iframe props */
        --iframe-height: 25rem;

        /* footer */
        --small-font: 1rem;
        --small-padding: 1rem;
    }
}


@media screen and (min-width: 1000px) {
    :root {
        /* padding */
        --simple-padding: 3.5rem;

        /* font-sizing */
        --simple-font: 1.2rem;

        /* arrow height */
        --arrow-height: 3rem;

        /* iframe props */
        --iframe-height: 100%;
    }

    /* classes on large screens */
    .grid2 {
        display: grid;
        grid-template-columns: repeat(2, 1fr) !important;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }

    .break {
        display: none;
    }

    .h100-large {
        height: 100% !important;
    }
}

@media screen and (min-width: 1300px) {
    :root {
        /* padding */
        --simple-padding: 4rem;

        /* iframe props */
        --iframe-height: 35rem;
    }
}




@media screen and (min-width: 1501px) {
    main {
        border: 2px solid var(--main-color);
    }
}


/* ============================= classes ===================================== */
.main_color {
    color: var(--main-color);
}

.text-center {
    text-align: center;
}

/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: "Poppins", sans-serif;
}

body {
    font-size: 56%;
    background-color: var(--bg-color);
    color: var(--text-color);
}

main {
    padding: var(--simple-padding);
    margin: 0;
    max-width: 1500px;
    font-size: var(--simple-font);
    margin: 0 auto;
}

.arrow {
    height: var(--arrow-height);
    fill: var(--text-color);
    transition: all .4s;
    cursor: pointer;
}

.arrow:hover {
    fill: var(--main-color);
}

li {
    list-style-type: none;
}

iframe {
    height: var(--iframe-height);
    border-radius: var(--iframe-border-R);
    transition: all .4s;
    border: var(--iframe-border);
    display: block;
}

.image {
    width: 100%;
}

.rounded-box-sm {
    border-bottom: 2px solid var(--main-color);
    background-color: transparent;
    width: 100%;
    text-decoration: none;
    padding: var(--medium-padding) 0;
    font-size: var(--simple-font);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer {
    font-size: var(--small-font);
    text-align: center;
    padding: var(--small-padding);
    background-color: var(--second-bg-color);
}